<div class="container-fluid">
  <!-- Breadcrumbs -->
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">Quản lý khách hàng</li>
  </ol>

  <!-- Page Content -->
  <!-- DataTables Example -->
  <div class="card mb-3">
    <div class="card-header bg-primary text-white">
      <i class="fa fa-table"></i>
      Quản Lý Khách Hàng
      {{!-- <a href="#" class="text-white" data-toggle="modal" data-target="#addProductVendorModal">
        <span class="float-right">
          <i class="fa fa-plus"></i>
          Thêm Nhân Viên Mới
        </span>
      </a> --}}
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-md-2">
                <input type="text" placeholder="Input ID or name product" class="form-control">
            </div>

            <div class="col-md-2">
                <select name="price" class="form-select">
                    <option value="" disabled selected>Giá</option>
                    <option value="duoi5tr">&lt; 5.000.000</option>
                    <option value="duoi10tr">&lt; 10.000.000</option>
                </select>
            </div>

            <div class="col-md-2">
                <select name="status" class="form-select">
                    <option value="" disabled selected>Trạng thái</option>
                    <option value="stoking">Stoking</option>
                    <option value="out-of-stock">Out of stock</option>
                </select>
            </div>
            <div class="col-md-2">
                <select name="category" class="form-select">
                    <option value="" disabled selected>Loại sản phẩm</option>
                    <option value="iphone">iPhone</option>
                    <option value="tablet">Tablet</option>
                    <option value="laptop">Laptop</option>
                </select>
            </div>
            <div class="col-md-2">
                <input type="date" placeholder="Input price of product" class="form-control">
            </div>
            <div class="col-md-2">
                <button class="btn btn-blue btn-block">Tìm kiếm</button>
            </div>
        </div>

        <div class="table-responsive mt-3">
            <table class="table table-bordered" id="" width="100%" cellspacing="0">
            <thead>
                <tr>
                <th>Mã khách hàng</th>
                <th>Họ Tên</th>
                <th>Số điện thoại</th>
                <th>Địa chỉ</th>
                <th>Lần cuối mua hàng</th>
                <th>Tổng tiền hàng</th>
                <th>Tùy chỉnh</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>KH01</td>
                    <td>
                        <a href="aboutcustomer">Chí Long</a>
                    </td>
                    <td>091234214</td>
                    <td>Nguyễn Văn Linh, Q.7</td>
                    <td>20-10-2023</td>
                    <td class="font-weight-bold">20.000.000</td>
                    <td><button class="btn btn-danger"><i class="fas fa-trash"></button></i></td>
                </tr>
                <tr>
                    <td>KH02</td>
                    <td>
                        <a href="aboutcustomer">Như Quỳnh</a>
                    </td>
                    <td>091234214</td>
                    <td>Nguyễn Văn Linh, Q.7</td>
                    <td>20-10-2023</td>
                    <td class="font-weight-bold">20.000.000</td>
                    <td><button class="btn btn-danger"><i class="fas fa-trash"></button></i></td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>

    <div class="card-footer small text-muted">Tổng số hóa đơn <span class="text-danger">2</span> | Tổng tiền: <span class="text-danger">40.000.000</span></div>
  </div>

  <br><br><br>
</div>