<script src="https://cdn.jsdelivr.net/npm/jsbarcode@3.11.0/dist/jsbarcode.min.js"></script>
<style>
    @media print {
      /* Hide the sidebar when printing */
      .sidebar {
        display: none;
      }
      .breadcrumb{
        display: none;
      }
    }
    .barcode{
      font-family: 'Libre Barcode 39';font-size: 40px;
    }
</style>
<div class="container-fluid">
	<!-- Breadcrumbs-->
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
		<a href="/home">Home</a>
		</li>
		<li class="breadcrumb-item active">Hóa đơn</li>
	</ol>
	<div class="container bootdey">
		<div class="container">
			<div class="row">
    				<!-- BEGIN INVOICE -->
				<div class="col-xs-12">
					<div class="grid invoice">
						<div class="grid-body">
							<div class="invoice-title">
								<div class="row">
									<div class="col-xs-12">
										<img src="http://vergo-kertas.herokuapp.com/assets/img/logo.png" alt="" height="35">
									</div>
								</div>
								<br>
								<div class="row">
									<div class="col-md-6">
										<h2><i class="fa-solid fa-file-invoice-dollar" style="padding-right: 30px;"></i><b>HÓA ĐƠN</b><br><br>
											<span class="small">Đơn hàng #1082</span>
										</h2>
                      					<p class="barcode">1082</p><script>JsBarcode("#barcode", "#1082");</script>
									</div>
                    				<div class="col-md-6 text-right">
										<span class="pull-right hidden-print">
                        					<a href="javascript:;" class="btn btn-sm btn-white m-b-10 p-l-5"><i class="fa fa-file t-plus-1 text-danger fa-fw fa-lg"></i> Xuất file PDF</a>
                        					<a href="javascript:;" onclick="window.print()" class="btn btn-sm btn-white m-b-10 p-l-5"><i class="fa fa-print t-plus-1 fa-fw fa-lg"></i> In</a>
                        				</span>
									</div>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-md-6">
									<address>
										<strong>Thông tin cửa hàng:</strong><br>
										Twitter, Inc.<br>
										795 Folsom Ave, Suite 600<br>
										San Francisco, CA 94107<br>
										<abbr title="Phone">P:</abbr> (123) 456-7890
									</address>
								</div>
								<div class="col-md-6 text-right">
									<address>
										<strong>Thông tin khách hàng:</strong><br>
										Elaine Hernandez<br>
										P. Sherman 42,<br>
										Wallaby Way, Sidney<br>
										<abbr title="Phone">P:</abbr> (123) 345-6789
									</address>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<address>
										<strong>Thông tin nhân viên:</strong><br>
										Twitter, Inc.<br>
										795 Folsom Ave, Suite 600<br>
										San Francisco, CA 94107<br>
										<abbr title="Phone">P:</abbr> (123) 456-7890
									</address>
								</div>
								<div class="col-md-6 text-right">
									<address>
										<strong>Phương thức thanh toán:</strong><br>
										Visa ending **** 1234<br>
										h.elaine@gmail.com<br>
									</address>
									<address>
										<strong>Ngày mua:</strong><br>
										17/06/14
									</address>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<h3>Tổng hóa đơn</h3>
									<table class="table table-striped">
										<thead>
											<tr class="card-header bg-primary text-white">
												<td><strong>#</strong></td>
												<td class="text-center"><strong>Tên sản phẩm</strong></td>
												<td class="text-center"><strong>Mô tả</strong></td>
												<td class="text-center"><strong>Số lượng</strong></td>
												<td class="text-right"><strong>Tiền</strong></td>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>1</td>
												<td><strong>Iphone 15</strong></td>
												<td style="width: 700px;">Color: Pink, Capcity: 1T</td>
												<td class="text-center">15</td>
												<td class="text-right">$1,125.00</td>
											</tr>
											<tr style="color: blue;">
												<td colspan="3"></td>
												<td class="text-right"><strong>Giảm giá</strong></td>
												<td class="text-right"><strong>N/A</strong></td>
											</tr>
											<tr style="color: red;">
												<td colspan="3" >
												</td ><td class="text-right" ><strong>Tổng tiền</strong></td>
												<td class="text-right"><strong>$2,400.00</strong></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6 indentity">
									<p>Người bán<br><strong>Jeffrey Williams</strong></p>
								</div>
								<div class="col-md-6 text-right identity">
									<p>Người mua<br><strong>Jeffrey Williams</strong></p>
									<button type="button" class="btn btn-blue" onclick="window.location.href = 'listorders';">Xem danh sách đơn hàng  <i class="fa-solid fa-list"></i></i></button>
									<button type="button" class="btn btn-blue" onclick="window.location.href = 'POS';">Tiếp tục  <i class="fa-solid fa-circle-chevron-right"></i></button>
								</div>
							</div>
						</div>
					</div>
				</div>
					<!-- END INVOICE -->
			</div>
	</div>
</div>
</div>