<div class="container-fluid">
  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/home">Home</a>
    </li>
    <li class="breadcrumb-item active">Dơn hàng</li>
  </ol>
  <!-- Page Content -->
  <!-- DataTables Example -->
  <div class="card mb-3">
    <div class="card-header bg-primary text-white">
      <i class="fa fa-table"></i>
      Danh sách đơn hàng
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Mã đơn hàng</th>
              <th>Mã khách hàng</th>
              <th>Mã nhân viên</th>
              <th>Ghi chú</th>
              <th>Phương thức thanh toán</th>
              <th>Số tiền khách đưa</th>
              <th>Số tiền hoàn trả</th>
              <th>Tổng tiền</th>
              <th>Ngày mua</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Mã đơn hàng</th>
              <th>Mã khách hàng</th>
              <th>Mã nhân viên</th>
              <th>Ghi chú</th>
              <th>Phương thức thanh toán</th> 
              <th>Số tiền khách đưa</th>
              <th>Số tiền hoàn trả</th>
              <th>Tổng tiền</th>
              <th>Ngày mua</th>
            </tr>
          </tfoot>
          <tbody>
            <tr>
              <td><a href="orderdetail" style="text-decoration: underline;">01</a> </td>
              <td><a href="aboutcustomer" style="text-decoration: underline;">0123456789</a> </td>
              <td></td>
              <td>Cash</td>
              <td>2000$</td>
              <td>06/10/2018</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
  </div>
</div>
<br><br><br>