<div class="container-fluid">
  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/home">Home</a>
    </li>
    <li class="breadcrumb-item active">Chi tiết đơn hàng</li>
  </ol>
  <!-- Page Content -->
  <!-- DataTables Example -->
  <div class="card mb-3">
    <div class="card-header bg-primary text-white">
      <i class="fa fa-table"></i>
      Chi tiết đơn hàng --mã đơn hàng--
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Mã chi tiết đơn hàng</th>
              <th>Mã sản phẩm</th>
              <th>Số lượng</th>
              <th>Tổng tiền</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Mã chi tiết đơn hàng</th>
              <th>Mã sản phẩm</th>
              <th>Số lượng</th>
              <th>Tổng tiền</th>
            </tr>
          </tfoot>
          <tbody>
            <tr>
              <td>01</td>
              <td><a href="aboutproduct" style="text-decoration: underline;">iphone 15</a> </td>
              <td>2</td>
              <td>2000$</td>
            </tr>
            <tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
  </div>
</div>
<br><br><br>